<!DOCTYPE html>
<html>
<head>
    <title>Інформація про мене</title>
    <style>
        body { font-family: Arial; background-color: #A4C639; text-align: center; padding-top: 50px; }
        .card { background: black; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); display: inline-block; }
        h1 { color: #b6b4b4; }
        p { color: bisque;}
        h3 {color: aquamarine;}
        ul {color: beige;}
    </style>
</head>
<body>
    <div class="card">
    <form method="POST">
        <input type="text" name="username" placeholder="Ваш логін">
        <p><input type="password" name="password" placeholder="Пароль"></p>
        <button type="submit">Увійти</button>